body
{
	background-color: #181717;
	color: white;
	opacity: 0.89;
	font-family: "Baskerville Old Face", Georgia, "Trebuchet MS", sans-serif;
}

#logoCompagnie
{	
	width: 40%;
	height: 40%;
	position: relative;
	margin-left: 50px;
	top: 10px;
	left: 0%;
}

#menu
{	
	font-size: 175%;
	position: relative;
	margin-left: 40%;
	width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul ul 
{
	 display:none; width:100%; position:absolute; left:0; background:#6a6a6a; 

}

li
{
  display: inline; 
  position:relative; list-style-type:none;
}

p
{
	margin-top: 20px;
	font-size: 125%;
}

a:link, a:visited {
    color: white;
    background-color: 2D2D2D;
	height: 10%;
    padding: 1%;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 90%;
}

a:hover, a:active {
    background-color: #575757;
}

footer
{
	background-color:#2D2D2D;
	font-size: 90%;
	position: fixed;
	width: 100%;
	bottom: 0%;
	font-family: Georgia;
}

#adresse
{
	color: white;
	margin-top: 150px;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 150%;
	text-align: center;
}

#apropos
{
	color: white;
	font-size: 125%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	white-space: pre-line;
}

.dropdown-menu
{
	background: none;
	color: white;
	position: absolute;
}